<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yfy.base">
    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 8.0 允许安装未知来源权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:name="com.yfy.base.App"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name_one"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.yfy.app.welcome.WelcomeActivity"
            android:theme="@style/AppThemeInitial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- </>?????????????????????????????????AppKey -->
        <activity
            android:name="com.yfy.upload.UpDataDialogActivity"
            android:theme="@style/AppThemeDialog" />

        <service
            android:name="com.yfy.upload.UploadDataService"
            android:exported="false" />
        <!--app-->
        <activity
            android:name="com.yfy.app.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.VersionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.yfy.app.SelectedTermActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectedClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectStuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--album-->
        <activity
            android:name="com.yfy.app.album.AlbumAllActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.AlbumOneActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.SingePicShowActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.MultPicShowActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />

        <activity
            android:name="com.yfy.base.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--spannable_string-->
        <activity
            android:name="com.yfy.app.spannable_string.SpannableStringMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--login-->
        <activity
            android:name="com.yfy.app.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ResetPasswordToHavePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 配置edit框 -->
        <activity
            android:name="com.yfy.app.drawableBg.widget.EditTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.yfy.app.drawableBg.widget.ButtomActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.ImageViewActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.ListViewActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.OrthogonActivity" />
        <activity android:name="com.yfy.app.drawableBg.DrawableBgActivity" />
        <activity android:name="com.yfy.app.drawableBg.TableLayoutActivity" />
        <activity android:name="com.yfy.app.drawableBg.MaterialMainActivity" />
        <activity android:name="com.yfy.app.drawableBg.SingleActivity" />
        <!--mode-->

        <activity
            android:name="com.yfy.app.SelectedModeTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <!--chart-->
        <activity
            android:name="com.yfy.app.chart.BarChartActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <!--video-->
        <activity
            android:name="com.yfy.app.video.PlayDirectlyActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppThemeInitial" />
        <!--PEquality-->
        <activity
            android:name="com.yfy.app.PEquality.PEScoreMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name="com.yfy.app.PEquality.PEQualityMainTestActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PEAttitudeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PEAttendListActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityStandardListActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeLibraryActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeAnswerActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityHomeworkActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeStuMainActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeStuActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEHonorMainActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEHonorAddActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualitySuggestActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PEQualityTeaSuggestActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PERecipeActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaMainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaScoreTypeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaStandardListActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaAddScoreActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.PEquality.PEStuHealthActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme" />
    </application>

</manifest>