<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yfy.base">
    
    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 8.0 允许安装未知来源权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- tell -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- voice -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_one"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <activity
            android:name="com.yfy.app.welcome.WelcomeActivity"
            android:theme="@style/AppThemeInitial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yfy.greendao.view.AddStuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.greendao.view.TypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <!-- </>?????????????????????????????????AppKey -->
        <activity
            android:name="com.yfy.upload.UpDataDialogActivity"
            android:theme="@style/AppThemeDialog" />
        
        <service
            android:name="com.yfy.upload.UploadDataService"
            android:exported="false" />
        <!-- app -->

        <activity
            android:name="com.yfy.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.yfy.app.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.VersionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.AppShapeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectedTermActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectedClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectStuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- album -->
        <activity
            android:name="com.yfy.app.album.AlbumAllActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.AlbumOneActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.SingePicShowActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name="com.yfy.app.album.MultPicShowActivity"
            android:exported="false"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- spannable_string -->
        <activity
            android:name="com.yfy.app.spannable_string.SpannableStringMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- login -->
        <activity
            android:name="com.yfy.app.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ResetPasswordToHavePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yfy.app.login.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 配置edit框 -->
        <activity
            android:name="com.yfy.app.drawableBg.widget.EditTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.yfy.app.drawableBg.widget.ButtomActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.ImageViewActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.ListViewActivity" />
        <activity android:name="com.yfy.app.drawableBg.widget.OrthogonActivity" />
        <activity android:name="com.yfy.app.drawableBg.DrawableBgActivity" />
        <activity android:name="com.yfy.app.drawableBg.TableLayoutActivity" />
        <activity android:name="com.yfy.app.drawableBg.MaterialMainActivity" />
        <activity android:name="com.yfy.app.drawableBg.SingleActivity" />
        <!-- mode -->
        
        <activity
            android:name="com.yfy.app.SelectedModeTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yfy.app.SelectedUserTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- chart -->
        <activity
            android:name="com.yfy.app.chart.BarChartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.chart.EChartSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <!-- video -->
        <activity
            android:name="com.yfy.app.video.PlayDirectlyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeInitial"
            tools:ignore="InnerclassSeparator" />
        <!-- voice -->
        
        <!--<activity-->
            <!--android:name="com.yfy.app.voice.VoiceMainActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppThemeInitial"-->
            <!--tools:ignore="InnerclassSeparator" />-->
        <!-- g rpc -->
<!--        <activity-->
<!--            android:name="com.yfy.app.gRPC.GRpcMainActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/AppTheme"-->
<!--            tools:ignore="InnerclassSeparator" />-->
        <activity
            android:name="com.yfy.app.httppost.HttpPostMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.httppost.retrofitclient.RetrofitMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <!-- PEquality -->
        <activity
            android:name="com.yfy.app.PEquality.PEScoreMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        
        <activity
            android:name="com.yfy.app.PEquality.PEQualityMainTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaAttitudeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PEAttendListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityStandardListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeLibraryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityKnowledgeAnswerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualityHomeworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeStuMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEAttitudeStuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEHonorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEHonorAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEQualitySuggestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PEQualityTeaSuggestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PERecipeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaScoreTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaStandardListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.tea.PETeaAddScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.PEquality.PEStuHealthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        
        <!-- duty evaluate -->
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateTeaDoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateStuMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateStuDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateStuAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluatePracticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.DutyEvaluateSchoolActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.yfy.app.duty_evaluate.PracticeAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>